.calendarpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  width: 100%;
  min-width: 850px;
  height: 100%;
  min-height: 700px;
  padding: 20px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1920px;

    height: 100%;
    border-radius: 20px;

    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    background-color: main.$color-background-box;

    &__calendar {
      display: flex;
      width: 100%;
      padding: 18px 24px;
      position: relative;
    }
  }
}

:global(.fc) {
  width: 100%;
  max-height: 628px;
  height: auto;
}

// 버튼 (예: 오늘, 이전, 다음 버튼)
:global(.fc .fc-button) {
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: main.$color-text-black;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  padding: 8px 12px;
  &:hover {
    border: none;
    outline: none;
    background-color: main.$color-background-disabled;
    color: main.$color-text-black;
  }
  &:active {
    border: none;
    outline: none;
    box-shadow: none !important;
    color: main.$color-text-black !important;
    background-color: main.$color-background-disabled !important;
  }
  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
    color: main.$color-text-black;
    background-color: transparent;
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  /* 오버플로우 방지 */
  overflow: hidden;
}

// 헤더 툴바 (상단 네비게이션 바)
:global {
  .fc .fc-header-toolbar {
    display: flex;
    background-color: transparent;
    color: main.$color-text-black;
    padding: 10px;
    border: none;
    font-weight: bold;
    border-bottom: 3px solid main.$color-border-black;
  }
  .fc .fc-scrollgrid {
    font-size: 1rem;
  }

  .fc .fc-daygrid-day-frame {
    min-height: 100%;
    height: 85px;
  }

  .fc .fc-daygrid-day {
    background-color: main.$color-background-box;
    border: 1px solid main.$color-border-light;
    font-size: 1rem;
    vertical-align: top;
  }
  .fc .fc-daygrid-day.fc-day-today {
    background-color: main.$color-background-today;
  }

  .fc-day-today .fc-daygrid-day-number {
    text-align: center;
    width: 25px;
    height: 25px;
    color: main.$color-text-white;
    background-color: main.$color-highlight;
    border-radius: 50%;
    padding: 4px;
    display: inline-block; // 원형 배경이 제대로 보이도록
  }
  .fc .fc-event {
    text-align: center;
    border: none;
    border-radius: 4px;
    font-size: 0.6rem;
    padding: 2px 4px;
  }
  .fc .fc-daygrid-day-events {
    padding: 0 5px;
    display: grid;
    margin: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .fc .fc-event .fc-event-title {
    color: main.$color-text-black;
  }

  .fc-daygrid-day-bg,
  .fc-daygrid-day-bottom,
  .fc-daygrid-day-events::after,
  .fc-daygrid-day-events::before,
  .fc-daygrid-day-frame::after,
  .fc-daygrid-day-frame::before,
  .fc-daygrid-event-harness::after,
  .fc-daygrid-event-harness::before {
    display: none;
  }

  // 이벤트 내용이 넘칠 경우 처리
  .fc-event-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
