# Environments
.env
.env.*
venv/
.venv/
env/
__pycache__/
*.pyc

# IDEs
.idea/
.vscode/

# Build
build/
.gradle/
out/
target/
*.class
*.jar
*.war
dist/

# Node
node_modules/
package-lock.json
yarn.lock

# Operating System
.DS_Store
Thumbs.db

# Secrets (Prevent leak)
secrets/
gcp-credentials.json
*.pem
*.key
secret*.json
