.guidepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  width: 100%;
  min-width: 850px;
  height: 100%;
  min-height: 700px;
  padding: 20px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1920px;

    height: 100%;
    border-radius: 20px;

    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    background-color: main.$color-background-box;

    &__title {
      width: 100%;
      padding: 18px 24px;
      font-size: 1.6rem;
      font-weight: 700;
      border-bottom: 1px solid main.$color-border-gray;
    }
    &__content {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      gap: 50px;

      &__left,
      &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        width: 50%;
        height: 100%;
      }
    }
  }
  .starter,
  .homepage,
  .calendar,
  .cctv,
  .mypage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 18px 24px;
    gap: 10px;
    line-height: 80%;
  }
  .title {
    font-size: 1rem;
    font-weight: 600;
    color: main.$color-text-black;
  }

  .intro {
    font-size: 0.85rem;
    font-weight: 500;
    color: main.$color-text-gray;
  }

  ul {
    padding-left: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    color: main.$color-text-black;
    li {
      line-height: 1.6;
    }
  }
}
