.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  overflow: auto;

  background-color: main.$color-modal-background;

  z-index: 1000;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: main.$color-background-box;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    padding: 2rem;
    border-radius: 20px;
    position: relative;
    width: 80%;
    height: 80%;
    overflow: auto;

    &__closebtn {
      position: absolute;
      top: 8px;
      right: 18px;

      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}
