.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 70px;
  border-bottom: 1px solid main.$color-border-primary;

  background-color: main.$color-primary;

  padding: 0 15px;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    cursor: pointer;

    &__image {
      display: flex;
      height: 90%;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    gap: 10px;

    &__logout {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 60px;
      height: 25px;
      top: 3px;

      font-size: 0.6rem;
      font-weight: 400;

      background-color: main.$color-background-accent;

      border: 1px solid main.$color-border-gray;
      border-radius: 50px;
      gap: 2px;

      cursor: pointer;

      &:hover {
        filter: brightness(0.9);
      }

      &:active {
        scale: 0.97;
      }

      span {
        color: main.$color-text-black;
        font-weight: 500;
      }
    }

    &__hello {
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 10px;

      color: main.$color-text-black;
      font-size: 1rem;
      font-weight: 500;

      &__name {
        font-weight: 700;
      }
    }
  }
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  /* 오버플로우 방지 */
  overflow: hidden;
}
