.bar {
  width: 1000px;
  position: relative;

  &__labels {
    position: relative;
    width: 100%;
    font-size: 0.8rem;
    margin-top: 4px;
    color: main.$color-text-black;
    font-weight: bold;

    &__left {
      position: absolute;
      left: 0;
    }

    &__right {
      position: absolute;
      right: 0;
    }
  }

  &__container {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);

    &__used {
      height: 100%;
      background-color: main.$color-secondary;
      height: 100%;
      border-radius: 10px;
      background: linear-gradient(
        90deg,
        main.$color-primary,
        main.$color-secondary
      ); // 파란 그라데이션
      transition: width 1s ease; // 애니메이션
    }

    &__tooltip {
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      background: main.$color-tooltip-background;
      color: main.$color-text-white;
      font-size: 0.75rem;
      padding: 5px 8px;
      border-radius: 4px;
      white-space: nowrap;
      pointer-events: none;
      opacity: 0.9;
      z-index: 100;
      transition: opacity 0.2s ease;
    }
  }
}
