.mainpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  width: 100%;
  min-width: 850px;
  height: 100%;
  min-height: 700px;
  padding-right: 100px; /* 챗봇 공간 확보 */
  padding-bottom: 140px; /* 하단 액션 버튼이 챗봇과 겹치지 않도록 */
  
  /* 작은 화면에서 패딩 조정 */
  @media (max-width: 1200px) {
    padding-right: 80px;
    padding-bottom: 120px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 1920px;

    margin-top: 20px;
    padding: 0 20px;
    gap: 20px;

    &__filter {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex: 3;
      height: 120px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
      background-color: main.$color-background-box;
      border-radius: 20px;

      gap: 20px;

      &__title {
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 0.6rem;
      }

      &__date {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        text-wrap: nowrap;
        font-size: 1rem;
        margin-top: 15px;

        gap: 10px;

        .dateRangeDisplay {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          background-color: main.$color-background;
          height: 40px;
          padding: 8px 16px;
          gap: 10px;
          min-width: 270px;
          border-radius: 5px;
          border: 1px solid main.$color-border-gray;
          cursor: pointer;
          font-size: 1rem;
        }

        .dateRangeText {
          font-size: 1rem;
          font-weight: 500;
          color: main.$color-text-dark;
        }

        .placeholderText {
          font-size: 1rem;
          color: main.$color-text-gray;
        }

        .datePickerButton {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          position: absolute;
          height: 95%;
          width: 42px;
          right: 0;
          background-color: main.$color-background;
          color: main.$color-text-black;
          border: none;
          padding: 8px 12px;

          border-radius: 5px;
          cursor: pointer;
          font-size: 1rem;
          transition: background-color 0.3s;

          &:hover {
            filter: brightness(0.9);
          }
        }

        &__calendar {
          position: absolute;
          top: calc(100% + 10px);
          left: 0;
          background-color: main.$color-background-box;

          z-index: 10;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
          border: 1px solid main.$color-border-gray;
        }
      }

      &__category {
        display: flex;
        align-items: center;
        justify-content: center;
        text-wrap: nowrap;
        height: 40px;
        margin-top: 15px;

        gap: 10px;
        font-size: 1rem;

        &__select {
          width: 200px;
          height: 100%;
          padding: 8px 16px;
          border-radius: 5px;
          border: none;
          outline: none;
          background-color: main.$color-background;
          font-size: 1rem;
          border: 1px solid main.$color-border-gray;

          option {
            font-size: 1rem;
            border: none;
            outline: none;
          }
        }
      }

      &__search {
        margin-top: 15px;
      }
    }

    &__types {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex: 1;
      height: 120px;

      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
      background-color: main.$color-background-box;
      border-radius: 20px;

      &__title {
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 0.6rem;
        text-wrap: nowrap;
      }

      &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 5px;
        margin-top: 20px;

        .first,
        .second {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.8rem;
          gap: 5px;

          div {
            background-color: main.$color-background;
            border-radius: 5px;
            padding: 8px 12px;
          }

          .thief {
            background-color: main.$color-thief;
          }
          .break {
            background-color: main.$color-break;
          }
          .assault {
            background-color: main.$color-assault;
          }
          .falling {
            background-color: main.$color-falling;
          }
          .arson {
            background-color: main.$color-arson;
          }
          .smoke {
            background-color: main.$color-smoke;
          }
          .abandon {
            background-color: main.$color-abandon;
          }
        }
      }
    }
  }

  &__notfound {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 480px;

    margin-top: 20px;
    padding: 0 20px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(240px, auto);

    width: 100%;
    max-width: 1920px;

    margin-top: 20px;
    padding: 0 20px;
    gap: 12px;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
      background-color: main.$color-background-box;
      border-radius: 10px;
      font-size: 1rem;
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    z-index: 1;

    margin-top: 50px;
    width: 100%;
    height: 50px;
    gap: 5px;

    .pageItem {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 4px;
      border: none;
      background-color: main.$color-background;
      color: main.$color-text-black;
      text-decoration: none;
      transition: all 0.2s ease;
      cursor: pointer;
      font-size: 14px;

      &:hover {
        background-color: #dbdbdb;
      }

      &.active {
        background-color: main.$color-button;
        color: main.$color-text-white;
      }

      &.disabled {
        color: #ccc;
        cursor: not-allowed;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: 20px;
    padding-right: 30px;
    z-index: 10;

    width: 100%;
    max-width: 1920px;
  }
}

.modalwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__video {
    width: 100%;
    height: 90%;
    margin-top: 20px;
    background-color: #000;
    &__player {
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    width: 100%;

    &__circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid main.$color-border-gray;
      background-color: #000000;
    }

    &__text {
      padding: 8px 0 8px 12px;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 480px;
  margin-top: 20px;
  width: 100%;
}

:global {
  .rdp-day.rdp-today {
    font-weight: 700;
  }

  .rdp-range_start .rdp-day_button,
  .rdp-range_end .rdp-day_button {
    background-color: main.$color-button;
    border: none;
  }

  /* 월 이동 버튼 (이전/다음) */
  .rdp-button_previous,
  .rdp-button_next {
    background-color: main.$color-background-box !important;
    border: none !important;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background-color 0.2s;
    svg {
      fill: main.$color-button !important; // 버튼의 색상
    }
  }

  .rdp-button_previous:hover,
  .rdp-button_next:hover {
    filter: brightness(0.9);
  }
}
