.sidemenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 230px;
  height: 100%;
  min-height: 700px;

  background-color: main.$color-primary;
  // border-right: 2px solid main.$color-border-black;

  &__title {
    text-align: center;
    color: main.$color-text-black;
    width: 80%;
    padding: 20px 0 15px 0;

    font-size: 0.8rem;
    font-weight: 600;

    border-bottom: 1px solid main.$color-border-primary;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
  }

  &__terms {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    bottom: 20px;

    gap: 10px;

    font-size: 0.7rem;
    color: main.$color-text-black;

    &__button {
      background-color: transparent;
      border: none;
      font-size: 0.7rem;
      color: main.$color-text-black;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
